In [739]:
import pandas as pd
filename = r'D:\Programms\python programms\SkyTec_test\in.xls'

In [740]:
xls_frame = pd.ExcelFile(filename).parse(0)
column_names = list(xls_frame.columns)
xls_frame

         date  installs  costs  revenue  payers share
0  2021-05-01         5    150      314             5
1  2021-04-24        15     33      159            10
2  2020-12-24         7    421      512            12
3  2020-12-21         3    127       13             7

In [741]:
xls_frame['date'] = pd.to_datetime(xls_frame['date'], format='%Y-%m-%d')
grouped_frame = xls_frame.groupby([pd.Grouper(key='date', freq='w')])[column_names[1:]].sum()
grouped_frame = grouped_frame.loc[(grouped_frame != 0).all(axis=1), :].reset_index()
grouped_frame

        date  installs  costs  revenue  payers share
0 2020-12-27        10    548      525            19
1 2021-04-25        15     33      159            10
2 2021-05-02         5    150      314             5

In [743]:
import numpy as np
import scipy.stats as st
x = xls_frame.groupby([pd.Grouper(key='date', freq='w')]).agg([np.sum, np.mean, np.std, st.variation])
x.loc[(x.loc[:, pd.IndexSlice[:, 'sum']] != 0).any(axis=1)]

           installs                           costs                     \
                sum  mean       std variation   sum   mean         std
date
2020-12-27       10   5.0  2.828427       0.4   548  274.0  207.889394
2021-04-25       15  15.0       NaN       0.0    33   33.0         NaN
2021-05-02        5   5.0       NaN       0.0   150  150.0         NaN

                     revenue                              payers share        \
           variation     sum   mean         std variation          sum  mean
date
2020-12-27  0.536496     525  262.5  352.846284  0.950476           19   9.5
2021-04-25  0.000000     159  159.0         NaN  0.000000           10  10.0
2021-05-02  0.000000     314  314.0         NaN  0.000000            5   5.0


                 std variation
date
2020-12-27  3.535534  0.263158
2021-04-25       NaN  0.000000
2021-05-02       NaN  0.000000